.content {
  max-width: 1000px;
  margin-left: 3px;
  font-family: 'Merriweather', serif;
  color: #222222;
}

strong {
  font-weight: bolder;
}

.canvas {
  max-width: 900px;
}

.chart-title {
	font-size: 12px;
	fill: #222222;
}

.rolling-average {
	fill: none;
	stroke: #222222;
	stroke-width: 2px;
}

@media (prefers-color-scheme: dark) {
	body {
	  background-color: #333333;
	}

	.content {
		color: #eeeeee;
	}

	.rolling-average {
		fill: none;
		stroke: #eeeeee;
	}

	strong {
		color: white;
	}

	.chart-title {
		fill: #eeeeee;
	}
	a {
		color: lightblue;
	}
	a:visited {
		color: lightgrey;
	}
	a:hover {
		color: white;
	}
}



