{% extends 'base.html' %}

{% block title %}About - Canada COVID-19 Status{% endblock %}

{% block content %}
	<h2>Canada COVID-19 Status</h2>
	<h4>About</h4>

	<p>The purpose of this site is to provide a glimpse into the progress that each province and territory of Canada is making in their efforts to contain COVID-19.</p>

	<p>First, are we flattening the curve in Canada and limiting the spread of COVID-19? Are the amount of new confirmed cases and deaths going up every day or are they going down? Are the amount of hospitalizations below what the system can handle? How are other provinces and territories doing?</p>

	<p>Next, are we testing enough to be confident in the trends that we're seeing and is our testing capacity where it needs to be to start reopening parts of society?</p>

	<p>Every day, this site automatically gathers data from public health sources to provide a concise report on the questions above. Because much of this is automated, there will be times when the data isn't perfect! If something looks off, trust your sense and verify. Sources are linked below.</p>

	<p>Have questions, concerns or comments? <a href="mailto:hello@c19status.ca?subject=Hello!">Let us know</a>.</p>

	<div><h2></h2><a href="/sources/">Sources</a></div>
{% endblock %}