<!doctype html>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165592149-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-165592149-1');
  </script>
  <title>{% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width">
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet"> 
  <style>
    .content {
      font-family: 'Merriweather', serif;
    }
  </style>
</head>
<section class="content">
  {% block content %}{% endblock %}
  <div class="footer">
  	<h4>Daily reports</h4>
  	<a href="/canada">Canada</a> -
  	<a href="/alberta">Alberta</a> - 
  	<a href="/british%20columbia">British Columbia</a> - 
  	<a href="/manitoba">Manitoba</a> - 
  	<a href="/new brunswick">New Brunswick</a> -
  	<a href="/newfoundland and labrador">Newfoundland and Labrador</a> -
  	<a href="/northwest territories">Northwest Territories</a> - 
  	<a href="/nova scotia">Nova Scotia</a> - 
  	<a href="/nunavut">Nunavut</a> - 
  	<a href="/ontario">Ontario</a> -
  	<a href="/prince edward island">Prince Edward Island</a> - 
  	<a href="/quebec">Quebec</a> -
  	<a href="/saskatchewan">Saskatchewan</a> - 
  	<a href="/Yukon">Yukon</a>
  </div>
</section>

