{% extends 'base.html' %}

{% block title %}Ontario COVID-19 Status{% endblock %}

{% block content %}
	<h2>Ontario COVID-19 Status</h2>
	
	<h4>Cases</h4>
	<div>On {{ d.report_date }}, Ontario reported {{ d.new_cases }} new confirmed cases of COVID-19, bringing Ontario's total to {{ d.total_cases }}. This is a {{ d.change_previous }}% increase from the previous day's total of {{ d.yesterday_total }}. The average daily increase over the past seven days is {{ d.change_seven }}%.</div>

	<h4>Deaths</h4>
	<div>{{ d.new_deaths }} more people were reported to have died, bringing the total to {{ d.total_deaths }} COVID-19 deaths in Ontario. This is an increase of 
	{{ d.death_change_previous }}% over the previous total of {{ d.yesterday_deaths }}. The average daily increase of deaths for the past seven days is {{ d.death_change_seven }}%.</div>

<!--
	<h4>Hospital Capacity</h4>
	<div>There are [HOSPITAL] people in hospitals in Ontario due to COVID-19. Of these, [ICU] are in the ICU and [Ventilator] are on ventilators. Ontario currently has [ACUTE_AVAILABLE] a total of acute care beds and [CRITICAL_AVAILABLE] critical care beds with [VENTILATOR_AVAILABLE] of those equipped with ventilators.</div>
-->

	<h4>Testing</h4>
	<div></div>

	<h4>Sources</h4>
{% endblock %}