{% extends 'base.html' %}

{% block title %}{{ d.region }} COVID-19 Status{% endblock %}

{% block content %}
	<h2>{{ d.region }} COVID-19 Status</h2>

	<h3>Daily update for {{ d.report_date.strftime('%B %d, %Y') }}</h3>
	
	{% if d.display_cases %}
	<h4>Cases</h4>
	<div>{{ d.region }} reported <strong>{{ "{:,}".format(d.new_cases) }} new cases</strong> of COVID-19, {% if d.new_cases %}bringing the total to{% else %}keeping the total at{% endif %} {{ "{:,}".format(d.total_cases) }}. {% if d.new_cases %}This is a <strong>{{ d.change_previous }}% increase</strong> from the previous day's total of {{ "{:,}".format(d.yesterday_total) }}.{% endif %} The average daily increase over the past <strong>seven days is {{ d.change_seven }}%</strong>. {% if d.case_double_rate %}Cases are <strong>doubling every {{ d.case_double_rate }} days.</strong>{% endif %}</div>
	{% if d.total_cases %}<div class="svg-container" id="canvas-cases"></div>{% endif %}
	{% endif %}

	{% if d.display_deaths %}
	<h4>Deaths</h4>
	<div><strong>{% if d.new_deaths %}{{ d.new_deaths }} more deaths</strong> were reported, bringing the <strong>total to{% else %}No new deaths were reported, keeping the total at {% endif %} {{ "{:,}".format(d.total_deaths) }}</strong>. {% if d.new_deaths %}This is an <strong>increase of 
	{{ d.death_change_previous }}%</strong> over the previous total of {{ "{:,}".format(d.yesterday_deaths) }}. {% endif %}{% if d.total_deaths %}The average daily increase of deaths for the past <strong>seven days is {{ d.death_change_seven }}%</strong>.{% endif %} {% if d.death_double_rate%}Deaths are <strong>doubling every {{ d.death_double_rate }} days.</strong>{% endif %}</div>
	{% if d.total_deaths %}<div class="svg-container" id="canvas-deaths"></div>{% endif %}
	{% endif %}

	{% if d.display_hospital %}
	<h4>Hospital Capacity</h4>
	<div>There are <strong>{{ "{:,}".format(d.in_hospital) }} people in hospitals</strong> in {{ d.region }} due to COVID-19. Of these, <strong>{{ "{:,}".format(d.in_icu) }} are in the ICU</strong> and <strong>{{ "{:,}".format(d.on_ventilator) }} are on ventilators</strong>. {{ d.region }} currently has {{ "{:,}".format(d.hospital_beds) }} acute care beds and {{ "{:,}".format(d.icu_beds) }} critical care beds with {{ "{:,}".format(d.ventilators) }} of those equipped with ventilators.</div>
	<div class="svg-container" id="canvas-hospital"></div>
	{% endif %}

	{% if d.display_testing %}
	<h4>Testing</h4>
	In the previous day, <strong>{{ "{:,}".format(d.daily_tests) }} tests were completed</strong>. That's <strong>{{ "{:,}".format(d.daily_tests_per_100k) }} tests per 100k people</strong> in {{ d.region }}. In total, {{ "{:,}".format(d.total_tests) }} tests have been completed.
	{% if d.region == "Ontario" %}Ontario is aiming to test 14,000 people per day by April 29 and 16,000 people per day by May 6.{% endif %}

	{% if d.region == "Canada" %}Canada is aiming to test 60,000 people per day.{% endif %}

	{% if d.region == "Quebec" %}Quebec is aiming to test 14,000 people per day as soon as possible and utlimately 30,000 people per day.{% endif %}
	<div class="svg-container" id="canvas-testing"></div>
	{% endif %}


	<h4>About</h4>
	<div><a href="/about/">About this site</a> - <a href="/sources/">Sources</a></div>

	<script src="https://d3js.org/d3.v5.js"></script>
	<script src="/static/chart.js"></script>
{% endblock %}